@using WebApplication1.Models
@model LoginViewModel

<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                <!--================================= Login -->

                <section class="space-ptb login">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-sm-12">
                                <div class="section-title">
                                    <h2 class="text-center">Sign in</h2>
                                </div>
                                <div class="row">
                                    <form class="form-row mt-4 align-items-center">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.AntiForgeryToken()
                                        <div class="form-group col-sm-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-sm-12">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="submit" class="btn btn-primary btn-block" value="Sign in">
                                        </div>
                                        <div class="col-sm-6">
                                            <ul class="list-unstyled d-flex m-0">
                                                <li class="mt-3"><b>@Html.ActionLink("You don't have an acoount? Click here to register", "Register")</b></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                                <div class="login-social-media border pl-4 pr-4 pb-4 pt-0 mt-5 rounded">
                                    <div class="mb-4 d-block text-center"><b class="bg-white pl-2 pr-2 mt-3 d-block">Login or Sign in with</b></div>
                                    <form class="row">
                                        <div class="col-sm-6">
                                            <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="btn google-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-google"></i>Login with Google</span></a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!--================================= Login -->

            }
        </section>
    </div>
</div>






